.papatarjeta{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 243, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}
.tarjeta{
    width: 80%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

}
.imagen{
    width: 40%;
    height: 90%;
    margin-left: 25px;
}
.papa-textos{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo{
    font-size: 25px;
    color: rgb(91, 209, 215);
    font-style: italic;
    margin-right: 770px;
    margin-bottom: 15px;
}
.platillos{
    font-size: 45px;
    font-weight: bold;
    margin-right: 630px;
    margin-bottom: 15px;
}
.textos{
    width: 100%;
    height: 50px;
}
.texto-creado{
    font-weight: bold;
}
.usuario{
    color: rgb(91, 209, 215);
}
.usuario:hover{
    cursor: pointer;
}
.descripcion{
    font-size: 15px; 
    margin-bottom: 15px;
}
.papatarjeta-stories{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.texto-this{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}
.tarjeta-stories{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.hijo-stories{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    
}
.imagenes{
    width: 100%;
    height: 70%;
}
.texto-most{
    font-size: 15px;
    color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
}
.texto-7{
    font-size: 24px;
}
.tarjeta-stories2{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-most:hover{
    cursor: pointer;
}