* {
    padding: 0;
    margin: 0;
  }
  
  .header {
    width: 100%;
    height: 80px;
    background-color: rgb(148, 148, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .cuerpo{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .titulo{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .subtitulo{
    font-size: 40px;
    font-weight: bolder;
  }
  
  .sub{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .texto{
    font-size: 20px;
    width: 800px;
    text-align: center;
    margin-bottom: 20px;
  }

  .boton-start{
    width: 200px;
    height: 40px;
    color: black;
    border: 1px solid black;
    background-color: white;
  }

  .padre{
    width: 100%;
    height: 500px;
  }

  .titulaso{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .encabezado{
    font-size: 50px;
    color: white;
  }
  
  .tarjeta-hijo{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
  }

  .tarjetas{
    width: 500px;
    height: 200px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
  }

  .imagen-que{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid yellow;
    margin:20px;
  }

  .papa-texto{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .parrafo{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.716);
    width: 250px;
  }

  .nombre{
    font-size: 15px;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
  }

  .puesto{
    font-size: 15px;
    color:rgba(255, 255, 255, 0.716);
    margin-top: 10px;
  }

  .padre1{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
  }

  .cuerpo-medio{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-bourse{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px;
  }

  .texto-2500{
    font-size: 25px;
    margin-top: 13px;
  }

  .textito{
    text-align: center;
    width: 500px;
    font-size: 20px;
    margin-top: 10px;
    color: grey;
  }


  .cuerpo-final{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }

  .tarjetita{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .texto-brovwers{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
  }

  .textitito{
    font-size:15px;
    text-align: center;
    margin-top: 15px;
  }
  
  .imagensita{
    width: 300px;
    height: 200px;
  }