
  .papa-tarjeta{
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right,rgb(219,181,206), rgb(160,185,207));
  }
  .tarjeta{
    width: 25%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 5px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .hijo-signup{
    width: 100%;
    height: 15%;
    border-bottom: 1px groove rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
  .texto-sgnup{
    font-size: 30px;
    margin-top: 25px;
    margin-left: 20px;
    font-weight: bold;
  }
  .texto-descripcion{
    margin-left: 20px;
    font-size: 17px;
    color: grey;
  }
  .textos{
    margin-left: 50px;
    color: grey;
    margin-top: 25px;
  }
  .botones{
    width: 80%;
    height: 50px;
    margin-left: 50px;
    font-size: 25px;
  }
  .botones:hover{
    border-color:  rgb(91, 199, 236);
  }
  .box{
    border-radius: 100px;
    width: 17px;
    height: 17px;
    margin-left: 50px;
    margin-top: 25px;
  }
  .descripcion{
    margin-left: 75px;
    margin-bottom: 25px;
    position: relative;
    bottom: 17px;
    color: grey;
  }
  .boton-sign{
    width: 150px;
    height: 50px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(91, 199, 236);
    border-color: rgb(175, 175, 175);
  }
  .boton-sign:hover{
    cursor: pointer;
    border-color:rgb(91, 199, 236);
  }